.responsive{
    width: 50%;
     margin: 50px auto;
   }
@media only screen and (max-width:576px) {
    .responsive{
        display: none;
    }
}
@media only screen and (min-width:577px) and (max-width:992px) {
    .responsive{
        width:400px;
        margin-left: 15px;
        }
    }
